{% extends "students/base.html" %}
{% load crispy_forms_tags%}
  {% block content%}
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
              <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">General Clearance</h4>
            <p class="card-category">
                <a class="mr-2" href="#">Student: {{ user.first_name }} {{ user.last_name }}</a>
                    <p class="card-category"></p>
                  </div>
                  <div class="card-body table-responsive">
                  <table class="table table-hover">
                      <thead class="text-warning">
                        <th>Department</th>
                        <th>HOD</th>
                        <th>Status</th>
                      </thead>
                    {% for post in posts %} 
                    <tbody>
                        <tr>
                          <td>{{ post.department }}</td>
                          <td>{{ post.hod }}</td>
                          <td>Not Cleared</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        <div class="col-md-5">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="{{ user.profile.image.url }}">
              <img class="img" src="{{ user.profile.image.url }}" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category">{{ user.username }}</h6>
            <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
            <p class="card-description">
              {{ user.profile.course.department }}
            </p> 
            <p class="card-description">
              {{ user.profile.course }}
            </p> 
            <p class="card-description">
              {{ user.profile.Adm_no }}
            </p>
            <a href=" {% url 'Clearance' %} " class="btn btn-primary btn-round">Clearance</a>
          </div>
        </div>
      </div>
  {% endblock content%}