{% extends "students/base.html" %}
{% load crispy_forms_tags%}
  {% block content%}
  <div class="sidebar" data-color="orange" data-background-color="black" data-image="{% static 'students/sidebar-2.jpg}">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
      <a href="http://www.kisumupoly.ac.ke" class="simple-text logo-normal">
        TKNP Clearance Portal
      </a>
    </div>
  
</div>
    <div class="card-header card-header-primary">
            <h4 class="card-title">Home </h4>
            {% if user.is_authenticated %}
            <p class="card-category"><a class="mr-2" href="#">Student: {{ user.first_name }} {{ user.last_name }}</a></p>
            {% else %}{% endif %}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                
                {% if user.is_authenticated %}    
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Departmental Clearance</h4>
                    <p class="card-category">{{ user.profile.department }} Department</p>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-info">
                        <th>ID</th>
                        <th>Course</th>
                        <th>HOD</th>
                        <th>Status</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>{{ user.profile.course }}</td>
                          <td>{{ user.profile.department.hod }}</td>
                          <td>Cleared</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          <div class="col-md-6">
            <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">General Clearance</h4>
                    <p class="card-category"></p>
                  </div>
                  <div class="card-body table-responsive">
                  <table class="table table-hover">
                      <thead class="text-warning">
                        <th>ID</th>
                        <th>Department</th>
                        <th>HOD</th>
                        <th>Status</th>
                      </thead>
                    {% for post in posts %} 
                    <tbody>
                        <tr>
                          <td>1</td>
                          <td>{{ post.department }}</td>
                          <td>{{ post.hod }}</td>
                          <td>Not Cleared</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                  </div>

              </div>
              {% else %}
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="card-title"><small class="text-muted"> Not signed in?
                    <a href="{% url 'students-login' %}" class="btn btn-primary btn-round btn-lg">Sign In</a></h4>
                  </div>
              </div>
              {% endif %}
            </div>
          </div>
  {% endblock content%}