{% extends "clearance/template.html" %}
{% load crispy_forms_tags%}
  {% block content%}
      <div class="card-header card-header-primary">
          <h4 class="card-title">Home </h4>
            {% if user.is_authenticated %}
              <p class="card-category">
                <a class="mr-2" href="#">Student: {{ user.first_name }} {{ user.last_name }}</a>
              </p>
            {% else %}{% endif %}
      </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                
                {% if user.is_authenticated %}    
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Departmental Clearance</h4>
                    <p class="card-category">{{ user.profile.department }} Department</p>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-info">
                        <th>Course</th>
                        <th>HOD</th>
                        <th>Status</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ user.profile.course }}</td>
                          <td>{{ user.profile.department.hod }}</td>
                          <td>{{status}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          <div class="col-md-6">
            <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">General Clearance</h4>
                    <p class="card-category"></p>
                  </div>
                  <div class="card-body table-responsive">
                  <table class="table table-hover">
                      <thead class="text-warning">
                        <th>Department</th>
                        <th>HOD</th>
                        <th>Status</th>
                      </thead>
                    {% for post in posts %} 
                    <tbody>
                        <tr>
                          <td>{{ post.department }}</td>
                          <td>{{ post.hod }}</td>
                          <td>{{status}}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                  </div>

              </div>
              {% else %}
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="card-title"><small class="text-muted"> Not signed in?
                    <a href="{% url 'students-login' %}" class="btn btn-primary btn-round btn-lg">Sign In</a></h4>
                  </div>
              </div>
              {% endif %}
            </div>
          </div>
  {% endblock content%}