{% extends "students/base.html" %}
{% block content%}<div class="sidebar" data-color="azure" data-background-color="black" data-image="{% static 'students/img/sidebar-2.jpg}">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
          <a href="http://www.kisumupoly.ac.ke" class="simple-text logo-normal">
            TKNP Clearance Portal
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
           <!-- your sidebar here -->
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'Student' %}">
                <i class="material-icons"></i>
                <p>Homepage</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'Profile' %}">
                <i class="material-icons"></i>
                <p>Student Profile</p>
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <i class="material-icons"></i>
                  <p>Clearance Status</p>
                </a>
              </li>
            <li class="nav-item ">
                  <a class="nav-link" href="#">
                    <i class="material-icons"></i>
                    <p>Departmental Clearance</p>
                  </a>
                </li>
			<li class="nav-item ">
					<a class="nav-link" href="#">
					<i class="material-icons"></i>
					<p>General Clearance</p>
					</a>
			</li>
			<li class="nav-item ">
					<a class="nav-link" href="#">
					<i class="material-icons"></i>
					<p>Clearance History</p>
					</a>
			</li>
          </ul>
        </div>
      </div>
<div class="alert alert-danger">
        <span>You have Been Signed out!</span> 
</div>
<div class="border-top pt-3">
<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <h4 class="card-title"><small class="text-muted">Sign In Again!  <a href=" {% url 'students-login' %}">Sign In</a></small></h4>
    </div>
</div>
{% endblock content%}